{%  extends 'base.html.twig'%}

{% import 'macro.html.twig' as my_macro %}

{% block body %}
<div class="row marketing latest-restaurants">
  <h3>Latest restaurants</h3>
    {% for restaurant in restaurants %}
      {{ my_macro.show_restaurant_bis(restaurant) }}
    {% endfor %}
{%  endblock %}
