<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Restaurant details</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/app.css" />
    </head>
    <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li ><a href="/">Home</a></li>
                            <li ><a href="/login">Login</a></li>
                <li ><a href="/register">Register</a></li>
                      </ul>
        </nav>
        <h3 class="text-muted">WhereToEat</h3>
      </div>

      <div id="body">
                      <div class="row marketing latest-restaurants">
          <h3>Resto <a href="/restaurant/3">231 East Street</a></h3>
                  <div class="restaurant">
                <div class="pull-left">
                  <img class="img-thumbnail" src="https://maps.googleapis.com/maps/api/staticmap?center=2 Rue De La Pepiniere 75008&zoom=14&size=350x250&markers=2 Rue De La Pepiniere 75008&key=AIzaSyCQSkhpJVncuLv5WN-iE8gPt7zFqbGtrR0" />
                </div>
                <div class="pull-left resto-details">
                  <h4><a href="/restaurant/1">231 East Street</a></h4>
                  <p>2 Rue De La Pepiniere 75008 Paris France</p>
                  <p>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-up"></span> 8
                      </button>
                      <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-thumbs-down"></span> 2
                      </button>
                  </p>
                </div>
                <div class="clearfix"></div>
                </div>

      <h4>Itinerary from work to 231 East Street</h4>
      <iframe scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px" height="450px" width="100%" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCQSkhpJVncuLv5WN-iE8gPt7zFqbGtrR0&origin=Rue taitbout, 75009 Paris&destination=2 Rue De La Pepiniere 75008 Paris&avoid=tolls|highways"></iframe>
      </div>
      <footer class="footer">
        <p>&copy; 2021 WhereToEat, Inc.</p>
      </footer>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>
